[submodule "JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Gin"]
	path = modules/Gin
	url = https://github.com/gregrecco67/Gin.git
[submodule "modules/melatonin_perfetto"]
	path = modules/melatonin_perfetto
		url = https://github.com/sudara/melatonin_perfetto.git
		branch = main
